@model IEnumerable<LMSgrupp3.Models.SchemView>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day7)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day7)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Idp }) |
            @Html.ActionLink("Details", "Details", new { id=item.Idp }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Idp })
        </td>
    </tr>
}

</table>
