@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    
    <ul class="nav navbar-nav navbar-right">
        
        <li>
            @Html.ActionLink("User: [ " + User.Identity.GetUserName() + " ]", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>

        <li>
            <a class="links" href="javascript:document.getElementById('logoutForm').submit()">
                <img alt="Logged in!, Click to Logout.." title="Logged in!, Click to Logout.." src="@Url.Content("~/RESOURCES/images/logged_true.png")" class="halfsize">
</li>
    </ul>
    
    }
    
    
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <!-- khan <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li> -->
       
        @*<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
        <div id="loginresize">

            @if (Request.IsAuthenticated != true)
            {


                    <li>
                        <a href="@Url.Action("Login", "Account")" title="List View" class="links">
                            <img alt="Not logged in!, Please Login.." title="Not logged in!, Please Login.." src="@Url.Content("~/RESOURCES/images/logged_false.png")" class="halfsize">
                        </a>
                    </li>
            }
            else
            {
                    <li>
                        <a href="@Url.Action("Logoff", "Account")" title="List View" class="links">
                            <img alt="Logged in!, Click to Logout.." title="Logged in!, Click to Logout.." src="@Url.Content("~/RESOURCES/images/logged_true.png")" class="halfsize">
                    </li>
            } 
                


       

        <br />
        </div>
    </ul>
}
